<form class="form-horizontal col-md-6"  role="form" data-ng-submit="manejarPaso()" name="formaPaso" id="formaPaso">
    <div class="form-group c">
        <label class="col-md-2 control-label" for="numeroPaso">No. Paso</label><span class="btn btn-info" ng-click="relacionarProcedimiento()">{{btnDesRelProcedimiento}}</span>
        <div class="col-md-3">
            <input value="{{numeroPaso}}" id="numeroPaso" cols="30" placeholder="No. Paso" class="form-control text-center" disabled>
        </div>
    </div>
     <div class="form-group" ng-show="relProcedimiento">
            <label class="col-md-2 control-label">Procedimiento</label>
    <div class="col-md-11">
    <div class="input-group">
        <input type="text" ng-model="procedimientoRelacionado.nombre" placeholder="Escriba el nombre del procedimiento" typeahead="nombre as proc.nombre for proc in buscaProcedimientos($viewValue) | limitTo:5" typeahead-loading="loadingProcedimientos" class="form-control" typeahead-on-select='seleccionarProcedimiento($item)' typeahead-template-url="views/procedimientos/seleccionProcedimientos.html" ng-disabled="!seleccionProcedimientoActivo" id='procedimientoRelacionado'>
        <span class="input-group-btn">
            <div ng-show="!seleccionProcedimientoActivo" class="btn btn-default" ng-click="seleccionProcedimientoActivo=true;procedimientoRelacionado='';focusElement('procedimientoRelacionado')">X</div>
            <div ng-show="seleccionProcedimientoActivo" class="btn disabled glyphicon glyphicon-search"></div>
        </span>
    </div>
    <i ng-show="loadingProcedimientos" class="glyphicon glyphicon-refresh"></i>
    </div>
    </div>
    <div ng-hide="relProcedimiento">
        <div class="form-group">
            <label class="col-md-2 control-label" for="descripcionPaso">Descripcion</label>
            <div class="col-md-10">
                <text-angular ng-model="descripcionPaso"></text-angular>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="imagenPaso">Imagen</label>
            <div class="col-md-10">
                <div class="img-thumbnail" ng-thumb="{ file: fileImagen, height: 150, width:300 }"></div>
                <span class="btn btn-default btn-file btn">
                    Buscar
                    <input type="file" file-input="fileImagen" accept="image/png,image/jpeg" name="imagen">
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="adjuntoPaso">Adjunto</label>
            <div class="col-md-10">
                <div class="input-group">
                    <adjunto_paso></adjunto_paso>
                    <span class="input-group-btn">
                            <div ng-show="adjuntoPasoFake" class="btn btn-default" ng-click="adjuntoPaso='';adjuntoPasoFake=''">X</div>
                            <button ng-show="!adjuntoPasoFake" class="btn btn-default btn btn-file" type="button">
                                <input type="file" file-input="fileAdjunto" accept="*" name="adjunto">
                                Buscar
                            </button>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" ng-disabled="formaPaso.$pristine" value="Guardar">
            <div class="btn btn-default" ng-click="reiniciarForma()">Cancelar</div>
        </div>
    </div>
</form>
