
<div class="container" collapse="!frmCorreo" data-ng-submit="enviarCorreo()">
<h3>Datos del Destinatario</h3>
    <form class="form-horizontal col-md-6"  role="form">
        <div class="form-group">
            <label class="col-md-2 control-label" for="nombre">Nombre</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="nombreDestinatario" id="nombreDes" placeholder="Nombre del Destinatario" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="correo">Correo</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="correoDestinatario" id="correoDes" placeholder="Correo Electronico del Destinatario" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="comentario">Comentario</label>
            <div class="col-md-10">
                <textarea data-ng-model="comentarioDestinatario" id="comentarioDes" rows="5" placeholder="Comentario" class="col-sm-4 col-md-4 form-control" name="comentario"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-info" type="submit" value="Enviar Correo">
                </input>
                <div class="btn btn-default" ng-click="frmCorreo=!frmCorreo;">
                    Cancelar
                </div>
            </div>
        </div>
    </form>
</div>

