<!--Crea el menu lateral para ver los pasos -->
<div class=" nav-lateral">
    <ul class="list-unstyled">
        <li ng-repeat="paso in procedimiento.pasos | filter:{actual: true}" >
            <div class="btn-link" ng-click="irElemento('#paso' + paso.numeroPaso)">Paso No.{{paso.numeroPaso}}</div>
        </li>
    </ul>
</div>
<!--**************************************-->
<div ng-repeat="paso in procedimiento.pasos | filter:{actual: true}">
    <div class="row">
    <h3 class="label-success col-lg-11" id="paso{{paso.numeroPaso}}">Paso N°{{paso.numeroPaso}}</h3>
    </div>
    <p>
        <span ng-bind-html="paso.descripcion"></span>&nbsp<span class="btn btn-sm btn-info" ng-click="mostrarProcedimiento(paso.procedimiento,paso.numeroPaso);" ng-show="paso.procedimiento"> <span class="glyphicon glyphicon-eye-open"></span> Mostar Procedimiento</span>
        <div ng-show="expression"></div>
    </p>
    <ba-imagen value={{paso.imagen}} ng-show="paso.imagen"></ba-imagen>
</div>

