<div ng-show="modificando" data-ng-click="irProcedimiento()" style="cursor:pointer" tooltip="Has click para ver el procedimiento" tooltip-placement="bottom" class="text-center">
    <h1>{{procedimiento.nombre}}</h1>
</div>
<div ng-hide="modificando" class="text-center">
    <h1>{{procedimiento.nombre}}</h1>
    <div class="btn-lg">
        <rating value="rate" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar = null">
        </rating>({{totalVotos}})
    </div>
    <div class="center" collapse="!btnComentar">
        <button class="btn btn-info" ng-click="btnComentar=!btnComentar;frmComentar=!frmComentar">
            <span class="glyphicon glyphicon-comment">
            </span>
             Comentar
        </button>
    </div>
    <div class="row"></div>
</div>
<agregar_comentario></agregar_comentario>
<enviar_correo></enviar_correo>
<ul class="list-inline">
    <li ng-repeat="categoria in procedimiento.categorias">
        <div class="btn btn-success disabled btn-sm" >{{categoria.name}}</div>
    </li>
</ul>
<div>
    <a tooltip="Descargar Procedimiento" class="btn" data-ng-click="crearPdf();">
        <i class="glyphicon glyphicon-download"></i>
    </a>
    <a tooltip="Enviar Procedimiento" class="btn" ng-click="muestraFormaCorreo()">
        <i class="glyphicon glyphicon-envelope"></i>
    </a>
    <a class="btn" tooltip="Agregar Adjuntos" data-ng-click="adjuntarArchivos()" ng-show="global.user.administracion">
        <i class="glyphicon glyphicon-paperclip"></i>
    </a>
    <a tooltip="Editar Procedimiento" class="btn" href="/#!/procedimientos/{{procedimiento._id}}/edit" ng-show="global.user.administracion">
        <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" tooltip="Eliminar Procedimiento" data-ng-click="remove();" ng-show="global.user.administracion">
        <i class="glyphicon glyphicon-trash"></i>
    </a>
    <a ng-hide="modificando || !global.user.administracion" class="btn" tooltip="Editar Pasos del Procedimiento"  href="/#!/procedimientos/pasos/{{procedimiento._id}}">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
</div>
<h3>{{procedimiento.descripcion}}</h3>


