<div ng-show="modificando" data-ng-click="irProcedimiento()" style="cursor:pointer" tooltip="Has click para ver el procedimiento" tooltip-placement="bottom" class="text-center">
    <h1>{{procedimiento.nombre}}
    </h1>
</div>
<div ng-hide="modificando" class="text-center">
    <h1>{{procedimiento.nombre}}
    </h1>
    <div class="btn-lg">
        <rating value="rate" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="guardarRating()">
        </rating>({{totalVotos}})
    </div>
    <div class="center" ng-show="btnComentar">
        <button class="btn btn-info" ng-click="btnComentar=!btnComentar;frmComentar=!frmComentar">
            <span class="glyphicon glyphicon-comment">
            </span>
             Comentar
        </button>
    </div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="cerrarAlerta($index)">{{alert.msg}}</alert>
</div>
<agregar_comentario ng-show="frmComentar"></agregar_comentario>
<ul class="list-inline">
    <li ng-repeat="categoria in procedimiento.categorias">
        <div class="btn btn-success disabled btn-sm" >{{categoria.name}}</div>
    </li>
</ul>
<div data-ng-show="global.user._id == procedimiento.user._id">
    <a tooltip="Editar Procedimiento" class="btn" href="/#!/procedimientos/{{procedimiento._id}}/edit">
        <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" tooltip="Eliminar Procedimiento" data-ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
    </a>
    <a ng-hide="modificando" class="btn" tooltip="Editar Pasos del Procedimiento"  href="/#!/procedimientos/pasos/{{procedimiento._id}}">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
</div>
<h3>{{procedimiento.descripcion}}</h3>


