<section data-ng-init="findOne()">
    <mostrar_procedimiento></mostrar_procedimiento>
    <div class=" nav-lateral">
        <ul class="list-unstyled">
            <li ng-repeat="paso in procedimiento.pasos | filter:{actual: true}" >
                <div class="btn-link" ng-click="irElemento('#paso' + paso.numeroPaso)">Paso No.{{paso.numeroPaso}}</div>
            </li>
        </ul>
    </div>
    <mostrar_pasos numpaso='0' procid="{{procedimiento._id}}" ></mostrar_pasos>
    <mostrar_comentarios></mostrar_comentarios>
</section>
