<div data-ng-controller="AdministracionController">
    <h2>Administracion</h2>
    <ul class="cbp-rfgrid">
        <li ng-repeat="admin in adminMenus | filter : {ver: true}" ng-click="ir(admin.link)" class="animacion-ngrepeat">
            <div class="clavo">
                <div class="cbp-rfgrid-tit">
                    <div>
                        <h3>{{admin.title}}</h3>
                    </div>
                </div>
                 <div class="cbp-rfgrid-des">
                     <h4>{{admin.title}}</h4>
                     <span>{{admin.descripcion | truncate:150}}</span>
                 </div>
             </div>
        </li>
    </ul>
</div>
