<div data-ng-controller="HeaderController">
    <h2 style="color: #198c19;text-shadow: 0px -1px 0px rgba(204, 229, 204, 0.5)">Administracion</h2>
    <ul class="cbp-rfgrid">
        <li ng-repeat="admin in adminMenus" ng-click="ir(admin.link)">
            <div class="clavo">
                <div class="cbp-rfgrid-tit">
                    <div>
                        <h3>{{admin.title}}</h3>
                    </div>
                </div>
                 <div class="cbp-rfgrid-des">
                     <h4>{{admin.title}}</h4>
                     <span>{{admin.descripcion | truncate:150}}</span>
                 </div>
             </div>
        </li>
    </ul>
</div>
