<div data-ng-controller="HeaderController">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navegacion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bacoba</a>
            </div>
            <div class="navbar-collapse collapse">
                             <div class="col-sm-4 col-md-4 pull-left">
        <form class="navbar-form" role="search" data-ng-show="global.authenticated">
        <div class="input-group">
            <input type="text" ng-model="procedimientoRelacionado.nombre" placeholder="Escriba el nombre del procedimiento" typeahead="nombre as proc.nombre for proc in buscaProcedimientos($viewValue) | limitTo:5" typeahead-loading="loadingProcedimientos" class="form-control" typeahead-on-select='seleccionarProcedimiento($item)' typeahead-template-url="views/procedimientos/seleccionProcedimientos.html"  id='procedimientoRelacionado'>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div>
                <ul class="nav navbar-nav">
                     <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                        <a href="#!/{{item.link}}">{{item.title}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" data-ng-hide="global.authenticated">
                    <li>
                        <a href="signin">Iniciar Sesion</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" data-ng-show="global.authenticated">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{global.user.email}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/signout">Cerrar Sesion</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
</div>

