body { padding-top: 120px; }
h2 {
  color: #198c19;
  text-shadow: 0px -1px 0px rgba(204, 229, 204, 0.5);
}

.titulo-inline {
  display: inline;
  float: left;
  padding: 0px;
  margin: 0px;
}

.lista-paso div{
  display: inline;
}

.lista-paso a {
  padding-left: 10px;
  font-size: 0px;
  color: #428bca;
  cursor: pointer;
}

.lista-paso:hover div a {
  font-size: 15px;
  z-index: 9999;
}



.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.nav-lateral-actual {
    background-color: #198c19;
    color: #ffffff;
    font-weight: bold;
}

.contenedor-pasos {
    margin-top:70px;
    width:100%
}

.contenedor-procs {
    width:100%;
}

.contenedor-procs h2{
    color: #198c19;
    text-shadow: 0px -1px 0px rgba(204, 229, 204, 0.5)
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.lighter{
    padding: 0.5em;
}

.border-around{
    border:1px solid rgba(2,2,2,0.1);
    border-radius: 6px;
    vertical-align: text-bottom;
}

.height-textarea{
    min-height: 150px;
    height: auto;
}

.ontop {
  position: fixed;
  width: 100%;
  top: 47px;
  left: 0;
  right: 0;
  z-index: 7000;
}

.animacion-ngrepeat.ng-enter,
.animacion-ngrepeat.ng-leave,
.animacion-ngrepeat.ng-move {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  position:relative;
}

.animacion-ngrepeat.ng-enter {
  left:-10px;
  opacity:0;
}
.animacion-ngrepeat.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.animacion-ngrepeat.ng-leave {
  left:0;
  opacity:1;
}
.animacion-ngrepeat.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.animacion-ngrepeat.ng-move {
  opacity:0.5;
}
.animacion-ngrepeat.ng-move.ng-move-active {
  opacity:1;
}

.nav-lateral {
  display: none;
}

.text-orange {
  color: #333333;
}

.elemento-rb {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.elemento-lb {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.cbp-rfgrid {
    padding: 5px;
    list-style: none;
    position: relative;
    width: 100%;
}

.cbp-rfgrid li {
    position: relative;
    float: left;
    overflow: hidden;
    background-color: #f8f8f8;
    width: 100%; /* Fallback */
    height: 150px;
    cursor: pointer;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

.cbp-rfgrid li:last-child {
    border-right: 1px solid #bfbfbf;
}

.cbp-rfgrid li div h3 {
    width: 100%;
    color: #808080;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 2px;
    padding: 0 10px;
}

.clavo {
  display: block;
}
.cbp-rfgrid-tit {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition-property:height;
    -webkit-transition-duration: 0.3s;
    transition-property:height;
    transition-duration: 0.3s;
}

.cbp-rfgrid-des {
  width: 100%;
  position: absolute;
  display: block;
  -webkit-transition-property:height;
  -webkit-transition-duration: 0.3s;
  transition-property:height;
  transition-duration: 0.3s;
  height: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #198c19;
  color: #fff;
}

.cbp-rfgrid-des h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
}

.cbp-rfgrid-des span {
  display: block;
  text-align: left;
  margin: 5px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
}

.clavo:hover .cbp-rfgrid-des {
    height: 100%;
}

.clavo:hover .cbp-rfgrid-tit {
    height: 0;
    overflow: hidden;
}

@media (min-width: 400px) {
    .cbp-rfgrid li {
        width: 50%; /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
}

@media (min-width: 768px) {
  body {
    padding-top: 80px;
  }

  .nav-lateral {
    display: inherit;
    left: 0;
    top: 0;
    bottom:0;
    width: 10%;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-top: 50px;
    background-color: #f5f6f7;
  }

  .nav-lateral li{
    padding: 2px;
    line-height: 24px;
    border-top: 1px solid #ebebed;
    font-size: 14px;
    cursor: pointer;
  }

  .nav-lateral-no-actual:hover{
    background-color: #cbd0d5;
    color: black;
    font-weight:normal;
  }

  .nav-lateral-grande {
    width: 15%;
  }

  .nav-lateral-grande li {
    padding: 8px;
  }

  .contenedor-pasos {
    margin-left: 11%;
    width:90%;
  }

  .contenedor-procs {
    margin-left: 16%;
    width:90%;
  }

  .cbp-rfgrid li {
      width: 33.333333%; /* Fallback */
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3);
  }

  .cbp-rfgrid li.no-busqueda:last-child {
      display: none;
  }

  .cbp-rfgrid li.no-busqueda:nth-child(3) {
      border-right: 1px solid #bfbfbf;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 80px;
  }

  .nav-lateral {
    display: inherit;
    left: 0;
    top: 0;
    bottom:0;
    width: 10%;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-top: 50px;
    background-color: #f5f6f7;
  }

  .nav-lateral li{
    padding: 2px;
    line-height: 24px;
    border-top: 1px solid #ebebed;
    font-size: 14px;
    cursor: pointer;
  }

  .nav-lateral-no-actual:hover{
    background-color: #cbd0d5;
    color: black;
    font-weight:normal;
  }

  .nav-lateral-grande {
    width: 15%;
  }

  .nav-lateral-grande li {
    padding: 8px;
  }

  .nav-lateral-grande li {
    padding: 8px;
  }

  .contenedor-pasos {
    margin-left: 11%;
    width:90%;
  }

  .contenedor-procs {
    margin-left: 11%;
    width:90%;
  }

  .cbp-rfgrid li {
      width: 25%; /* Fallback */
      width: -webkit-calc(100% / 4);
      width: calc(100% / 4);
  }
    .cbp-rfgrid li.no-busqueda:last-child {
      display: inline;
  }

  .cbp-rfgrid li.no-busqueda:nth-child(3) {
      border-right: 1px solid #e5e5e5;
  }
}








