<section data-ng-controller="CategoriasController" data-ng-init="find()">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th class="text-center col-sm-2" >Nombre</th>
            <th class="text-center col-sm-5">Descripcion</th>
            <th class="text-center col-sm-2">Categoria Padre</th>
            <th class="text-center col-sm-2">
                <a href="/#!/categorias/create">
                    <i class="glyphicon glyphicon-plus-sign"></i> Crear Categoria
                </a>
            </th>
        </tr>
        <tr>
            <th class="text-center col-sm-2" >
                <input type="text" placeholder="Buscar por Nombre" ng-model= "busqueda.name">
            </th>
            <th class="text-center col-sm-5">
                <input type="text" placeholder="Buscar por Descripcion" ng-model= "busqueda.description">
            </th>
            <th class="text-center col-sm-2">
                <input type="text" placeholder="Buscar por Padre" ng-model= "busqueda.padre.name">
            </th>
            <th class="text-center col-sm-2">
                <button tooltip="Limpiar Busqueda" class="btn btn-primary btn-sm" ng-click="busqueda.name='';busqueda.description='';busqueda.padre.name='';">
                    <span>
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </span>
                    Limpiar Busqueda
                </button>
            </th>
        </tr>
        <tr ng-repeat="categoria in categorias | filter:busqueda" class="my-repeat-animation">
            <td class="col-sm-2">{{categoria.name}}</td>
            <td class="col-sm-5">{{categoria.description}}</td>
            <td class="col-sm-2">{{categoria.padre.name}}</td>
            <td class="text-center col-sm-1">
                <a tooltip="Editar Categoria" class="btn" href="/#!/categorias/{{categoria._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a tooltip="Eliminar Categoria" class="btn" data-ng-click="remove(categoria);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </table>
</section>
